[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glmmTMB"]
	path = glmmTMB
	url = https://github.com/glmmtmb/glmmtmb
	subdir = glmmTMB
